.App {
  font-family: "Arial Black", "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 16px;
}

button {
  font-size: 20px;
}

p {
  font-family: "Arial Black", "Arial Narrow Bold", sans-serif;
  background-color: antiquewhite;
  font-size: 34px;
  margin: 10% auto;
  padding: 50px;
  width: 90%;
  text-align: center;
  color: royalblue;
}
